@using pojisteni_FULL.Models.ViewModels;
@model InsuredPersonViewModel

@{
	ViewData["Title"] = "Vymazání";
}
<div class="col">
	<div class="row">
		<div class="col-12 p-4 bg-light rounded border">
			<h1 class="display-6">@ViewData["Title"]</h1>
			<div class="text-left">
				«
				Opravdu si přejete vymazat pojištěnce
				@Html.DisplayFor(model => model.InsuredPersonItem.FirstName)
				@Html.DisplayFor(model => model.InsuredPersonItem.LastName)?
				»</>
			</div>
		</div>
	</div>
</div>

<hr />

<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuredPersonItem.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuredPersonItem.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuredPersonItem.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuredPersonItem.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuredPersonItem.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuredPersonItem.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuredPersonItem.PhoneNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuredPersonItem.PhoneNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuredPersonItem.StreetAndNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuredPersonItem.StreetAndNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuredPersonItem.City)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuredPersonItem.City)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuredPersonItem.ZipCode)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuredPersonItem.ZipCode)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="InsuredPersonItem.InsuredPersonID" />
		<input type="submit" value="Vymazat" class="btn btn-danger" />
		<a class="btn btn-primary" asp-action="Index">Zpět na seznam</a>
	</form>
</div>
