@using pojisteni_FULL.Utils;
@using pojisteni_FULL.Models.ViewModels;
@using pojisteni_FULL.Models.ViewModels.Items;
@model InsuredPersonInsuranceListViewModel

@{
	ViewData["Title"] = "Pojištěnec detail";
}



<div>
	<div class="d-flex justify-content-start flex-wrap mb-3">
		<div class="col-md-2 pe-5">
			<img src="~/images/avatar.png" alt="Obrázek" class="img-fluid img-thumbnail" />
		</div>
		<div class="col-md-10 pe-5">
			<h1>@Model.InsuredPersonItem.FirstName @Model.InsuredPersonItem.LastName</h1>

			<div class="d-flex justify-content-start flex-wrap">
				<div class="col-md-6 pe-5">
					<p class="mb-1">@Model.InsuredPersonItem.StreetAndNumber</p>
					<p class="mb-1">@Model.InsuredPersonItem.City</p>
					<p class="mb-1">@Model.InsuredPersonItem.ZipCode</p>
				</div>
				<div class="col-md-6">
					<p class="mb-1 me-1">@Model.InsuredPersonItem.Email</p>
					<p class="mb-1">@Model.InsuredPersonItem.PhoneNumber</p>
				</div>
			</div>
		</div>
	</div>
</div>


@if (Model.InsuranceItems.Count > 0) 
{
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>
						@*Druh pojištění*@
						@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuranceName))
					</th>
					<th>
						@*Pojistná částka*@
						@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuranceAmount))
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var insurance in Model.InsuranceItems)
				{
					<tr>
						<td>
							@*@Html.DisplayFor(modelItem => insurance.InsuranceName)*@
							<a asp-controller="Insurances" asp-action="Details" asp-route-id="@insurance.InsuranceID">@insurance.InsuranceName</a>
						</td>
						<td>
							@Html.DisplayFor(modelItem => insurance.InsuranceAmount)
							@*<a asp-controller="Insurances" asp-action="Details" asp-route-id="@insurance.InsuranceAmount">@insurance.InsuranceAmount</a>*@
							Kč
						</td>
						<td>
							<a asp-controller="Insurances" asp-action="Edit" asp-route-id="@insurance.InsuranceID" class="btn btn-sm btn-warning me-1">Upravit</a>
							<a asp-controller="Insurances" asp-action="Delete" asp-route-id="@insurance.InsuranceID" class="btn btn-sm btn-danger">Odstranit</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}

<div>
	<a asp-controller="Insurances" asp-action="Create" asp-route-id="@Model?.InsuredPersonItem.InsuredPersonID" class="btn btn-primary">Přidat pojištění</a>
	@*<a asp-controller="Insurances" asp-action="Create" class="btn btn-primary">Přidat pojištění</a>*@
	@*<a asp-controller="Insurances" asp-action="Create" asp-route-id="InsuredPersonItem.InsuredPersonID" class="btn btn-primary">Přidat pojištění</a>*@
	<a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.InsuredPersonItem.InsuredPersonID">Upravit pojištěnce</a>
	<a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.InsuredPersonItem.InsuredPersonID">Odstranit pojištěnce</a>
	<a class="btn btn-primary" asp-action="Index">Zpět na seznam</a>
</div>

