@using pojisteni_FULL.Utils;
@using pojisteni_FULL.Models.ViewModels;
@using pojisteni_FULL.Models.ViewModels.Items;
@model InsuredPersonListViewModel

@{
	ViewData["Title"] = "Pojištěnci";
}

<div class="col">
	<div class="row mb-3 p-4 bg-light rounded border">
		<h1 class="display-6">@ViewData["Title"]</h1>
		<div class="col">
			<span class="badge badge-pill badge-warning">
				@Html.DisplayFor(model => model.InsuredPersonItems.Count)
			</span>
		</div>
		<div class="col-sm mt-2">
			<a class="btn btn-primary" asp-action="Create">Přidat nového pojištěnce</a>
		</div>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuredPersonId))
			</th>
			<th>
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuredPersonName))
			</th>
			<th>
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuredPersonStreetNumberCity))
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.InsuredPersonItems)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.InsuredPersonID)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.InsuredPersonID">
						@item.FirstName @item.LastName
					</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StreetAndNumber),
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					<a class="btn btn-sm btn-warning mr-1" asp-action="Edit" asp-route-id="@item.InsuredPersonID">Upravit</a>
					<a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.InsuredPersonID">Odstranit</a>
				</td>
			</tr>
		}
	</tbody>
</table>

