@using pojisteni_FULL.Utils;
@using pojisteni_FULL.Models.ViewModels;
@using pojisteni_FULL.Models.ViewModels.Items;
@model InsuredPersonListViewModel

@{
	ViewData["Title"] = "Pojištěnci";
}


<div class="row">

	<div class="col-2 my-3 p-4 bg-light rounded">
		<h1 class="display-6">@ViewData["Title"]</h1>
		</div>
	<div class="col-10 my-3 py-4 bg-light rounded">
	<h1></h1>
		<div class="col bg-default text-succes text-left">
			<a class="btn btn-primary" asp-action="Create">Přidat nového pojištěnce</a>
		</div>
	</div>
</div>

@*	<div class="col">
		<div class="my-3 p-4 bg-light rounded">
			<h1 class="display-6">@ViewData["Title"]</h1>
			<a class="btn btn-primary" asp-action="Create">Nový pojištěnec</a>
		</div>
	</div>*@



<table class="table">
	<thead>
		<tr>
			<th>
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuredPersonName))
				@*	@Html.DisplayNameFor(model => model.InsuredPersonItem.FirstName) a
				@Html.DisplayNameFor(model => model.InsuredPersonItem.LastName)*@
			</th>
			<th>
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuredPersonStreetNumberCity))
				@*				@Html.DisplayNameFor(model => model.InsuredPersonItem.StreetAndNumber) a
				@Html.DisplayNameFor(model => model.InsuredPersonItem.City)*@
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.InsuredPersonItems)
		{
			<tr>
				<td>
					<a asp-action="Details" asp-route-id="@item.InsuredPersonID">
						@item.FirstName @item.LastName
					</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StreetAndNumber),
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					<a class="btn btn-warning" asp-action="Edit"
				   asp-route-id="@item.InsuredPersonID">Upravit</a>
					<a class="btn btn-danger" asp-action="Delete"
				   asp-route-id="@item.InsuredPersonID">Odstranit</a>
				</td>
			</tr>
		}
	</tbody>
</table>
