@model IEnumerable<pojisteni_FULL.Models.InsuredPerson>

@{
	ViewData["Title"] = "Pojištěnci";
}

<h1>@ViewData["Title"]</h1>

<p>
	<a asp-action="Create">Nový pojištěnec</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Jméno a Příjmení
				@*@Html.DisplayNameFor(model => model.FirstName)*@
				@*@Html.DisplayNameFor(model => model.LastName)*@
			</th>
			<th>
				Bydliště
				@*@Html.DisplayNameFor(model => model.StreetAndNumber)*@
				@*@Html.DisplayNameFor(model => model.City)*@
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">@item.FirstName @item.LastName</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StreetAndNumber)
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Upravit</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Odstranit</a>
				</td>
			</tr>
		}
	</tbody>
</table>
