@* =========   toto jsem vymazal dočasně, abych zjistil, zda je to nezbytně nutné*@
@*@using pojisteni_FULL.Models.ViewModels*@

@model pojisteni_FULL.Models.ViewModels.InsuredPersonInsuraceViewModel

@{
	ViewData["Title"] = "Založení nové pojistné smlouvy";
}

<h1>@ViewData["Title"]</h1>

@*This block is currently not used because we are not using the view bag*@
@*<h5 asp-controller="InsuredPersons" asp-action="Details" asp-route-id="@ViewBag.InsuredPerson.Id">*@
@*pro pojištěnce*@
@*We are not using Viewback right now --> @ViewBag.InsuredPerson.FirstName @ViewBag.InsuredPerson.LastName*@
@*@Html.DisplayFor(model => model.FirstName)*@
@*@Html.DisplayFor(model => model.LastName)*@
@*</h5>*@

<h5>
	pro pojištěnce @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
@*	@Html.LabelFor(m => m.FirstName) @Html.LabelFor(m => m.LastName)*@
</h5>


@*<h4>Insurance</h4>*@
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="InsuranceName" class="control-label"></label>
				<select asp-for="InsuranceName" class="form-control" asp-items="Insurance.GetInsuranceTypes()"></select>
				@* <span asp-validation-for="InsuranceName" class="text-danger"></span>*@
			</div>
			<div class="form-group">
				<label asp-for="InsuranceDescription" class="control-label"></label>
				<input asp-for="InsuranceDescription" class="form-control" />
				<span asp-validation-for="InsuranceDescription" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuranceAmount" class="control-label"></label>
				<input asp-for="InsuranceAmount" class="form-control" />
				<span asp-validation-for="InsuranceAmount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SubjectOfInsurance" class="control-label"></label>
				<input asp-for="SubjectOfInsurance" class="form-control" />
				<span asp-validation-for="SubjectOfInsurance" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ValidFrom" class="control-label"></label>
				<input asp-for="ValidFrom" class="form-control" />
				<span asp-validation-for="ValidFrom" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ValidTo" class="control-label"></label>
				<input asp-for="ValidTo" class="form-control" />
				<span asp-validation-for="ValidTo" class="text-danger"></span>
			</div>
			@*<input type="hidden" asp-for="InsuredPersonId" value="@ViewBag.InsuredPerson.Id" />*@
			<div class="form-group">
				<label asp-for="InsuredPersonId" class="control-label"></label>
				<input asp-for="InsuredPersonId" value="@Model.InsuredPersonId" class="form-control" />
				<span asp-validation-for="InsuredPersonId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Založit smlouvu" class="btn btn-primary" />
				<a class="btn btn-primary" onclick="javascript:history.back();">Zpět</a>
				@*<a asp-controller="InsuredPersons" class="btn btn-primary" asp-action="Details" asp-route-id="@ViewBag.InsuredPerson.Id">Zpět na seznam pojištěnců</a>*@
			</div>
		</form>
	</div>
</div>

@*<a asp-controller="InsuredPersons" asp-action="Details" asp-route-id="@ViewBag.InsuredPerson.Id">
	@ViewBag.InsuredPerson.FirstName @ViewBag.InsuredPerson.LastName
</a>*@
