@using pojisteni_FULL.Models.ViewModels;
@model InsuredPersonInsuranceViewModel

@{
	ViewData["Title"] = "Založení nové pojistné smlouvy";
}

<h1>@ViewData["Title"]</h1>

<p>
	« pro pojištěnce
	@Html.DisplayFor(model => model.InsuredPersonItem.FirstName)
	@Html.DisplayFor(model => model.InsuredPersonItem.LastName) »
	@*@Html.LabelFor(m => m.FirstName) @Html.LabelFor(m => m.LastName)*@
</p>


@*<h4>Insurance</h4>*@
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="InsuranceItem.InsuranceName" class="control-label"></label>
				<select asp-for="InsuranceItem.InsuranceName" class="form-control btn-outline-secondary" asp-items="Insurance.GetInsuranceTypes()"></select>
				@* <span asp-validation-for="InsuranceName" class="text-danger"></span>*@
			</div>
			<div class="form-group">
				<label asp-for="InsuranceItem.InsuranceDescription" class="control-label"></label>
				<input asp-for="InsuranceItem.InsuranceDescription" class="form-control" />
				<span asp-validation-for="InsuranceItem.InsuranceDescription" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuranceItem.InsuranceAmount" class="control-label"></label>
				<input asp-for="InsuranceItem.InsuranceAmount" class="form-control" />
				<span asp-validation-for="InsuranceItem.InsuranceAmount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuranceItem.SubjectOfInsurance" class="control-label"></label>
				<input asp-for="InsuranceItem.SubjectOfInsurance" class="form-control" />
				<span asp-validation-for="InsuranceItem.SubjectOfInsurance" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuranceItem.ValidFrom" class="control-label"></label>
				<input asp-for="InsuranceItem.ValidFrom" class="form-control" />
				<span asp-validation-for="InsuranceItem.ValidFrom" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuranceItem.ValidTo" class="control-label"></label>
				<input asp-for="InsuranceItem.ValidTo" class="form-control" />
				<span asp-validation-for="InsuranceItem.ValidTo" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="InsuredPersonItem.InsuredPersonID" />
@*			<div class="form-group">
				<label asp-for="InsuredPersonItem.InsuredPersonID" class="control-label"></label>
				<input asp-for="InsuredPersonItem.InsuredPersonID"
					   value="@Model.InsuredPersonItem.InsuredPersonID" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.InsuredPersonID" class="text-danger"></span>
			</div>*@
			<div class="form-group">
				<input type="submit" value="Založit smlouvu" class="btn btn-success" />
				<a class="btn btn-primary" onclick="javascript:history.back();">Zpět</a>
				@*<a asp-controller="InsuredPersons" class="btn btn-primary" asp-action="Details" asp-route-id="@ViewBag.InsuredPerson.Id">Zpět na seznam pojištěnců</a>*@
			</div>
		</form>
	</div>
</div>

@*<a asp-controller="InsuredPersons" asp-action="Details" asp-route-id="@ViewBag.InsuredPerson.Id">
	@ViewBag.InsuredPerson.FirstName @ViewBag.InsuredPerson.LastName
</a>*@
