@using pojisteni_FULL.Models.ViewModels
@model InsuredPersonInsuranceViewModel

@{
	ViewData["Title"] = "Detail pojištění";
}

<h1>@ViewData["Title"]</h1>

<p>
	« pro
	@Html.DisplayFor(model => model.InsuredPersonItem.FirstName)
	@Html.DisplayFor(model => model.InsuredPersonItem.LastName)
	 »</>
</p>

<div>

	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuranceItem.InsuranceName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuranceItem.InsuranceName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuranceItem.InsuranceDescription)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuranceItem.InsuranceDescription)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuranceItem.InsuranceAmount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuranceItem.InsuranceAmount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuranceItem.SubjectOfInsurance)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuranceItem.SubjectOfInsurance)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuranceItem.ValidFrom)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuranceItem.ValidFrom)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.InsuranceItem.ValidTo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.InsuranceItem.ValidTo)
		</dd>
	</dl>
</div>
<div>
	<a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.InsuranceItem.InsuranceID">Upravit</a>
	<a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.InsuranceItem.InsuranceID">Odstranit</a>
	<a class="btn btn-primary" onclick="javascript:history.back();">Zpět</a>
	@*<a asp-action="Index">Back to List</a>*@
</div>
