@model IEnumerable<pojisteni_FULL.Models.Insurance>

@{
	ViewData["Title"] = "Seznam pojištění";
}

<h1>@ViewData["Title"]</h1>

@*<p>
	<a class="btn btn-primary" asp-action="Create">Nové pojištění</a>
</p>*@
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.InsuranceName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InsuranceDescription)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InsuranceAmount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SubjectOfInsurance)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ValidFrom)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ValidTo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.InsuredPerson.FirstName) a
				@Html.DisplayNameFor(model => model.InsuredPerson.LastName)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.InsuranceName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InsuranceDescription)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InsuranceAmount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SubjectOfInsurance)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ValidFrom)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ValidTo)
				</td>
				<th>
					@Html.DisplayFor(modelItem => item.InsuredPerson.FirstName)
					@Html.DisplayFor(modelItem => item.InsuredPerson.LastName)
				</th>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
