@using pojisteni_FULL.Utils;
@using pojisteni_FULL.Models.ViewModels;
@using pojisteni_FULL.Models.ViewModels.Items;
@model InsuranceListViewModel

@{
	ViewData["Title"] = "Seznam pojištění";
}

<div class="col">
	<div class="row mb-3 p-4 bg-light rounded border">
		<h1 class="display-6">@ViewData["Title"]</h1>
		<div class="col">
			<span class="badge badge-pill badge-warning">
				@Html.DisplayFor(model => model.InsuranceItems.Count)
			</span>
		</div>
	</div>
</div>


@*<p>
	<a class="btn btn-primary" asp-action="Create">Nové pojištění</a>
</p>*@
<table class="table">
	<thead>
		<tr>
			<th>
				@*@Html.DisplayNameFor(model => model.InsuranceItem.InsuranceName)											*@
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuranceName))
			</th>
			@*			<th>
			@Html.DisplayNameFor(model => model.InsuranceDescription)
			</th>*@
			<th>
				@*@Html.DisplayNameFor(model => model.InsuranceItem.InsuranceAmount)*@
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuranceAmount))
			</th>
			<th>
				@*@Html.DisplayNameFor(model => model.InsuranceItem.SubjectOfInsurance)*@
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.SubjectOfInsurance))
			</th>
			@*			<th>
			@Html.DisplayNameFor(model => model.ValidFrom)
			</th>
			<th>
			@Html.DisplayNameFor(model => model.ValidTo)
			</th>*@
@*			<th>
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuredPersonId))
			</th>*@
			<th>
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuredPersonName))
			</th>

			<th>

			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.InsuranceItems)
		{
			<tr>
				<td>
					<a asp-action="Details" asp-route-id="@item.InsuranceID">@item.InsuranceName</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InsuranceAmount)
					Kč
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SubjectOfInsurance)
				</td>
				@*				<td>
			@Html.DisplayFor(modelItem => item.InsuredPersonId)
			</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.InsuredPersonName)
				</td>
				<td class="d-flex justify-content-end">
					<a class="btn btn-sm btn-warning mr-1" asp-action="Edit" asp-route-id="@item.InsuranceID">Upravit</a>
					<a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.InsuranceID">Odstranit</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="container">
	<p class="text-center text-warning mt-5" style="font-style: italic">« stránkování zatím není zprovozněno »</p>
	<ul class="pagination justify-content-center">
		<li class="page-item disabled"><a class="page-link " href="javascript:void(0);">předchozí</a></li>
		<li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
		<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
		<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
		<li class="page-item"><a class="page-link" href="javascript:void(0);">další</a></li>
	</ul>

</div>