@using pojisteni_FULL.Utils;
@using pojisteni_FULL.Models.ViewModels;
@using pojisteni_FULL.Models.ViewModels.Items;
@model InsuranceListViewModel

@{
	ViewData["Title"] = "Seznam pojištění";
}

<div class="col">
	<div class="my-3 p-4 bg-light rounded">
		<h1 class="display-6">@ViewData["Title"]</h1>
	</div>
</div>


@*<p>
	<a class="btn btn-primary" asp-action="Create">Nové pojištění</a>
</p>*@
<table class="table">
	<thead>
		<tr>
			<th>
				@*@Html.DisplayNameFor(model => model.InsuranceItem.InsuranceName)											*@
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuranceName))
			</th>
			@*			<th>
			@Html.DisplayNameFor(model => model.InsuranceDescription)
			</th>*@
			<th>
				@*@Html.DisplayNameFor(model => model.InsuranceItem.InsuranceAmount)*@
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuranceAmount))
			</th>
			<th>
				@*@Html.DisplayNameFor(model => model.InsuranceItem.SubjectOfInsurance)*@
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.SubjectOfInsurance))
			</th>
			@*			<th>
			@Html.DisplayNameFor(model => model.ValidFrom)
			</th>
			<th>
			@Html.DisplayNameFor(model => model.ValidTo)
			</th>*@
			<th>
				@*Pro pojištěnce (ID)*@
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuredPersonId))
				@*@Html.DisplayNameFor(model => model.InsuredPerson.FirstName) a
				@Html.DisplayNameFor(model => model.InsuredPerson.LastName)*@
			</th>
			<th>
				@Extensions.GetDisplayName(typeof(InsuranceItem), nameof(InsuranceItem.InsuredPersonName))
			</th>

			<th>
				 
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.InsuranceItems)
		{
			<tr>
				<td>
					<a asp-action="Details" asp-route-id="@item.InsuranceID">@item.InsuranceName</a>
				</td>
				@*				<td>
			@Html.DisplayFor(modelItem => item.InsuranceDescription)
			</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.InsuranceAmount)
					Kč
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SubjectOfInsurance)
				</td>
				@*				<td>
			@Html.DisplayFor(modelItem => item.ValidFrom)
			</td>
			<td>
			@Html.DisplayFor(modelItem => item.ValidTo)
			</td>*@
				<td>
					@*@Model.InsuredPersonItem.FirstName @Model.InsuredPersonItem.LastName*@

					@Html.DisplayFor(modelItem => item.InsuredPersonId)

					@*	@Html.DisplayFor(model => model.InsuredPersonItem.FirstName)*@
					@*@Html.DisplayFor(modelItem => item.InsuredPerson.FirstName)*@
					@*@Html.DisplayFor(Model.InsuredPersonItem.FirstName)
				@Html.DisplayFor(Model.InsuredPersonItem.LastName)*@
					@*<a asp-controller="InsuredPerson" asp-action="Details" asp-route-id="InsuredPersonItem.InsuredPersonID"
				>Přidat pojištění</a>*@
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InsuredPersonName)
				</td>
				<td>
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.InsuranceID">Upravit</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.InsuranceID">Odstranit</a>
				</td>
			</tr>
		}
	</tbody>
</table>
